telethon
pytgcalls
yt-dlp
pyrogram  # pyrogram مطلوب كإحدى تبعيات pytgcalls
pyyaml    # pyyaml مطلوب كإحدى تبعيات pytgcalls
pytube    # غالباً لا تحتاجها إذا كنت تستخدم yt-dlp لكن بعض أدوات yt-dlp قد تحتاجها
pytz
